# Neon PostgreSQL Database Connection String
DATABASE_URL="postgresql://user:password@ep-xyz.neon.tech/neondb?sslmode=require"

# Resend API Key for Transational Email & OTP Codes
RESEND_API_KEY="re_123456789_abcdefghijklmnopqrstuvwxyz"

# Admin Allowed Email for OTP Login
ADMIN_EMAIL="admin@bioforce.com"

# JWT Secret Key for Admin Sessions
JWT_SECRET="bioforce_super_secret_jwt_key_2026"

# Express Server Port
PORT=5051
